/* Selector Universal */
*{
    list-style: none;
    margin: 0;
    padding: 0;

}

/* Selector de Etiqueta */

body{
    background-color: #fdf5e6;

}
h1{
    color: #0000ff;
    text-align: center;
    
}
div{
    padding: 10px;
    border: 5px solid blueviolet;
    margin: 20px;
    background-color: bisque;
    /* outline: 10px solid red; */
    /* transition: width 25s; */
    /* animation-name: example; */
    /* animation-duration: 4s; */
}

/* @keyframes example { */
/*    from{background-color: red;}*/
/*    to{background-color: yellow;}*/

/* div:hover{ */
/*    width: 250px; */
/*} */

