        /* selector universal * */
        *{
            /* saca los . de las listas */
            /* list-style: none; */
           /* saco el margen por defecto */
            margin: 30;
            /* saco  */
            padding: 30;

        }
        
        /* selector tipo */
        h1{
            color: #5faa13; 
            text-align: center;
        }
            

        body{
            font: 100% Arial;
            background-color: #738380;
        }
        
        
        p{ 
            style="color:rgb(29, 59, 228)"
        }
   
        
        #parrafoVerde{
            color: green;
        
        }

        /* selector por clase */
        .parrafoRojo{
            color:#ff0000;
        }