<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Libre+Baskerville:wght@700&family=Oswald&family=Roboto+Mono:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
}
 /* Estilos css de la presentacion web*/
body  {
    background-color: #ebe6e6;
    margin-right: 19px;

}

header {
    width: 100%;
    text-align: left;
    color: #151544;
    margin-top: 1cm;
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 10px;
    font-family: 'Libre Baskerville', serif;
    background-color: #808080 ;
}
.imagen {
    float: right;
    width: 40%;

}
#imagen {
     width: 450px ;
   border: solid 1px black;
}
table, tr, th, td { 
    border: 2px solid black;
    text-align: justify; 
    border-collapse: collapse; 
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 19px;
    letter-spacing: 0.03em;

}
.tabla {
    margin: 1% 8% 0.5% 10%;
}

.tabla th {
    background-color: #488066;
}

h2 {
    font-family: 'Libre Baskerville', serif;
    font-size: x-large;
    color: #151544;
    text-align: justify;
    margin-left: 19px;
    background-color: #808080 ;

}

footer {
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    margin-bottom: 20px;
    letter-spacing: 0.10em;
    background-color: #808080 ;
    height: 50px;
    padding: 20px;
    font-style: italic;
    font-weight: bold;
   

}

#datos {
    text-align: center;
    color: #151544;
   font-size: x-large;
   background-color: #808080;
}

#lista {
    font-family: 'Libre Baskerville', serif;
    font-size: medium;
    text-align: justify;
    margin-left: 30px;
    list-style-type: circle;
    word-spacing: 0.5em;
}
 
#otros  {
        font-family: 'Libre Baskerville', serif;
        font-size: medium;
        text-align: justify;
        margin-left: 19px;
        margin-top: 20px;   
        word-spacing: 0.5em;
    
}
#info {
    font-family: 'Libre Baskerville', serif;
        font-size: medium;
        text-align: justify;
        margin-left: 19px;
        margin-top: 20px;   
        word-spacing: 0.5em;
}
.datos {
    display: flex;
    float: left;
    width: 100%;
    height: 70%;
}
.lista {
    width: 30%;

}
.parrafo {
    width: 35%;
}
.info {
    width: 30%;
}
.info h2{
    text-align: center;
}
#github {
    width: 50px;
    height: 50px;
    margin-left: 50px;
    margin-top: 10px;
    opacity: 80%;
}
#facebook {
    width: 50px;
    height: 50px;
    margin-left: 50px;
    margin-top: 10px;
}
#linkedin{
    width: 50px;
    height: 50px;
    margin-left: 50px;
    margin-top: 10px;
}
.info a {
    text-decoration: none;
    background-color: #006600;
    padding: 5px;
    margin-left: 20px;
}
/* Estilos css de la portada */
#portada {
    text-align: center;
    background-image: url(/img/java-development-web-development-wallpaper-preview.jpg);
    background-size: 98%;
    font-size: 25px;
    font-family: 'Libre Baskerville', serif;
    margin-top: 280px;
    margin-bottom: 280px;
    margin-left: 100px;
    margin-right: 100px;
}

#portada a{
    text-decoration: none;
    color: #0f0b06;
    letter-spacing: 10px;
    word-spacing: 0.04em;
    
}

#titulo {
    background-color: #ebe6e6;
    opacity: 50%;
}
<<<<<<< HEAD

#titulo:hover {
    color: #0000ff;
}


/*
       table, tr, th, td { border: 1px solid black; text-align: left; border-collapse: collapse; font-size: 0,9cm;}
       p, ul {font-size: large; text-align: justify; }
   */
=======
#titulo:hover { 
       color: #006600;
}
>>>>>>> mejora

    © 2022 GitHub, Inc.

    Terms
    Privacy
    Security
    Status
    Docs
    Contact GitHub
    Pricing
    API
    Training
    Blog
    About

=======
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Libre+Baskerville:wght@700&family=Oswald&family=Roboto+Mono:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
}
 /* Estilos css de la presentacion web*/
body  {
    background-color: #ebe6e6;
    margin-right: 19px;

}

header {
    width: 100%;
    text-align: left;
    color: #151544;
    margin-top: 1cm;
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 10px;
    font-family: 'Libre Baskerville', serif;
    background-color: #808080 ;
}
.imagen {
    float: right;
    width: 40%;

}
#imagen {
     width: 450px ;
   border: solid 1px black;
}
table, tr, th, td { 
    border: 2px solid black;
    text-align: justify; 
    border-collapse: collapse; 
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 19px;
    letter-spacing: 0.03em;

}
.tabla {
    margin: 1% 8% 0.5% 10%;
}

.tabla th {
    background-color: #488066;
}

h2 {
    font-family: 'Libre Baskerville', serif;
    font-size: x-large;
    color: #151544;
    text-align: justify;
    margin-left: 19px;
    background-color: #808080 ;

}

footer {
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    margin-bottom: 20px;
    letter-spacing: 0.10em;
    background-color: #808080 ;
    height: 50px;
    padding: 20px;
    font-style: italic;
    font-weight: bold;
   

}

#datos {
    text-align: center;
    color: #151544;
   font-size: x-large;
   background-color: #808080;
}

#lista {
    font-family: 'Libre Baskerville', serif;
    font-size: medium;
    text-align: justify;
    margin-left: 30px;
    list-style-type: circle;
    word-spacing: 0.5em;
}
 
#otros  {
        font-family: 'Libre Baskerville', serif;
        font-size: medium;
        text-align: justify;
        margin-left: 19px;
        margin-top: 20px;   
        word-spacing: 0.5em;
    
}
#info {
    font-family: 'Libre Baskerville', serif;
        font-size: medium;
        text-align: justify;
        margin-left: 19px;
        margin-top: 20px;   
        word-spacing: 0.5em;
}
.datos {
    display: flex;
    float: left;
    width: 100%;
    height: 70%;
}
.lista {
    width: 30%;

}
.parrafo {
    width: 35%;
}
.info {
    width: 30%;
}
.info h2{
    text-align: center;
}
#github {
    width: 50px;
    height: 50px;
    margin-left: 50px;
    margin-top: 10px;
    opacity: 80%;
}
#facebook {
    width: 50px;
    height: 50px;
    margin-left: 50px;
    margin-top: 10px;
}
#linkedin{
    width: 50px;
    height: 50px;
    margin-left: 50px;
    margin-top: 10px;
}
.info a {
    text-decoration: none;
    background-color: #006600;
    padding: 5px;
    margin-left: 20px;
}
/* Estilos css de la portada */
#portada {
    text-align: center;
    background-image: url(/img/java-development-web-development-wallpaper-preview.jpg);
    background-size: 98%;
    font-size: 25px;
    font-family: 'Libre Baskerville', serif;
    margin-top: 280px;
    margin-bottom: 280px;
    margin-left: 100px;
    margin-right: 100px;
}

#portada a{
    text-decoration: none;
    color: #0f0b06;
    letter-spacing: 10px;
    word-spacing: 0.04em;
    
}

#titulo {
    background-color: #ebe6e6;
    opacity: 50%;
}
<<<<<<< HEAD

#titulo:hover {
    color: #0000ff;
}


/*
       table, tr, th, td { border: 1px solid black; text-align: left; border-collapse: collapse; font-size: 0,9cm;}
       p, ul {font-size: large; text-align: justify; }
   */
=======
#titulo:hover { 
       color: #006600;
}
>>>>>>> mejora

    © 2022 GitHub, Inc.

    Terms
    Privacy
    Security
    Status
    Docs
    Contact GitHub
    Pricing
    API
    Training
    Blog
    About

>>>>>>> abb331291a99ec115871014dbcdf8138a88458d0
